.idea/
.lock/
*.csv
output/
__pycache__/
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

cml_info.cfg
.DS_Store
.git
.git/
*.docx
*.doc
*.db
build/
run_check
run_check.mac*
run_check.exe*
cml_*
